TELEGRAM_TOKEN=
ACCESS_KEY=
AUTHORIZED_USERS_FILE=authorized.json

LINKS_FILE=links.json
KNOWN_ITEMS_FILE=known_items.json
PROXIES_FILE=proxies.json

CONTAINER_SELECTOR="#srp-river-results > ul"
CHECK_INTERVAL=60
LINKS_LIMIT=20
ITEM_CARD_SELECTOR="li.s-card, li.s-item"
ITEM_LINK_SELECTOR="a.s-card__link[href*='/itm/'], a[href*='/itm/']"
ITEM_TITLE_SELECTOR=".s-card__title .su-styled-text.primary.default, .s-card__title, .s-item__title"
ITEM_PRICE_SELECTOR=".s-card__price, .s-item__price"

PAGE_NAVIGATION_TIMEOUT_MS=90000
PAGE_NAVIGATION_WAIT_UNTIL=domcontentloaded
EBAY_WARMUP_URL=https://www.ebay.com/
EBAY_WARMUP_SLEEP_SECONDS=5

BROWSER_HEADLESS=False
BROWSER_CHANNEL=
BROWSER_RESTART_INTERVAL_MINUTES=30

BROWSER_CONTEXT_LOCALE=en-US
BROWSER_CONTEXT_TIMEZONE_ID=America/New_York
BROWSER_CONTEXT_VIEWPORT_WIDTH=1365
BROWSER_CONTEXT_VIEWPORT_HEIGHT=768

DEBUG_SCREENSHOTS_ENABLED=True
DEBUG_SCREENSHOTS_DIR=debug_screenshots
DEBUG_SCREENSHOT_FULL_PAGE=True
DEBUG_HTML_SNIPPET_CHARS=1500
DEBUG_NOTIFY_INTERVAL_SECONDS=600
CONTAINER_NOT_FOUND_SLEEP_SECONDS=300
BLOCKED_PAGE_SLEEP_SECONDS=600
BLOCKED_PAGE_PATTERNS="access denied,errors.edgesuite.net,you don't have permission to access,captcha,robot,bot detection"

BLOCK_RESOURCE_TYPES=image,media,font

PROXY_LIMIT_HTTP_STATUS_PAYMENT_REQUIRED=402
PROXY_LIMIT_HTTP_STATUS_PROXY_AUTH_REQUIRED=407
PROXY_LIMIT_ERROR_PATTERNS="traffic limit,bandwidth limit,quota exceeded,quota has been reached,not enough balance,insufficient balance,payment required,proxy limit,residential proxy limit,subscription expired,plan expired,package expired,407 proxy authentication required,err_no_supported_proxies,err_proxy_connection_failed,err_tunnel_connection_failed"
PROXY_LIMIT_STOP_POLL_SECONDS=10

KNOWN_ITEMS_TTL_DAYS=7
KNOWN_ITEMS_CLEANUP_INTERVAL_SECONDS=3600

USE_PROXIES=True